{% extends "layout.html" %}
{% block content %}
    <div class="h-100 text-center">
        <p class="fs-2">
            Name: {{ student.name }}<br>
            ID: {{ student.id }}<br>
            Department: {{ department }}<br>
            Status:
            {% if student.vaccine_status == 0 %}
                Not Vaccinated
            {% elif student.vaccine_status == 1 %}
                First Dose
            {% else %}
                Second Dose
            {% endif %}
        </p>
        <a class="btn btn-outline-secondary" href="{{ url_for('update', student_id=student.id) }}">Edit</a>
    </div>
{% endblock %}